---
import { getCollection } from "astro:content";
import { buttonVariants } from "@/components/ui/button";
import BaseLayout from "@/layouts/BaseLayout.astro";
import PostCard from "@/components/PostCard.astro";
import { SiteConfig } from "@/content/config";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts", ({ data }) => !data.draft);
  const POSTS_PER_PAGE = 3;
  const totalPages = Math.ceil(allPosts.length / POSTS_PER_PAGE);

  return Array.from({ length: totalPages }, (_, i) => {
    const page = i + 1;
    const start = (page - 1) * POSTS_PER_PAGE;
    const end = start + POSTS_PER_PAGE;

    return {
      params: { page: page.toString() },
      props: {
        posts: allPosts
          .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
          .slice(start, end),
        currentPage: page,
        totalPages,
      },
    };
  });
}

const { posts, currentPage, totalPages } = Astro.props;
---

<BaseLayout
  title={SiteConfig.siteTitle}
  description={SiteConfig.siteDescription}
>
  <section class="container px-4 mx-auto py-8">
    <div class="flex flex-col items-start gap-4 mb-8">
      <h1 class="text-3xl font-extrabold leading-tight tracking-tighter md:text-4xl">
        Latest Posts
      </h1>
      <p class="text-lg text-muted-foreground">
        Read our latest blog posts about web development and technology.
      </p>
    </div>

    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      {posts.map((post) => (
        <PostCard post={post} />
      ))}
    </div>

    <div class="flex justify-center gap-2 mt-8">
      {currentPage > 1 && (
        <a
          href={currentPage === 2 ? "/page/1" : `/page/${currentPage - 1}`}
          class={buttonVariants({ variant: "outline" })}
        >
          Previous
        </a>
      )}
      {currentPage < totalPages && (
        <a
          href={`/page/${currentPage + 1}`}
          class={buttonVariants({ variant: "outline" })}
        >
          Next
        </a>
      )}
    </div>
  </section>
</BaseLayout>
